.elementor-19503 .elementor-element.elementor-element-147538c {
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 0px 20px 0px 20px;
}

.elementor-19503 .elementor-element.elementor-element-6740568>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-19503 .elementor-element.elementor-element-857e255.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-19503 .elementor-element.elementor-element-857e255.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-19503 .elementor-element.elementor-element-857e255>.elementor-element-populated,
.elementor-19503 .elementor-element.elementor-element-857e255>.elementor-element-populated>.elementor-background-overlay,
.elementor-19503 .elementor-element.elementor-element-857e255>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-19503 .elementor-element.elementor-element-857e255>.elementor-element-populated {
    box-shadow: 0px 0px 31px 3.5px rgba(0, 0, 0, 0.05);
    padding: 50px 50px 50px 50px;
}

.elementor-19503 .elementor-element.elementor-element-e088cf1 .wdt-heading-holder,
.elementor-19503 .elementor-element.elementor-element-e088cf1 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-19503 .elementor-element.elementor-element-e088cf1 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-19503 .elementor-element.elementor-element-e088cf1 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-19503 .elementor-element.elementor-element-e088cf1 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
    margin: -10px 0px 0px 0px;
    font-weight: 600;
}

.elementor-19503 .elementor-element.elementor-element-e088cf1 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-19503 .elementor-element.elementor-element-e088cf1 .wdt-heading-holder .wdt-heading-subtitle-wrapper {
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.8em;
    letter-spacing: 0px;
    color: var(--e-global-color-accent);
}

.elementor-19503 .elementor-element.elementor-element-e088cf1 .wdt-heading-holder .wdt-heading-content-wrapper {
    margin: -10px 0px 0px 0px;
    color: var(--e-global-color-text);
}

.elementor-19503 .elementor-element.elementor-element-e088cf1>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-19503 .elementor-element.elementor-element-e088cf1 {
    width: var(--container-widget-width, 76%);
    max-width: 76%;
    --container-widget-width: 76%;
    --container-widget-flex-grow: 0;
}

.elementor-19503 .elementor-element.elementor-element-d1ae4a5 .wdt-heading-holder,
.elementor-19503 .elementor-element.elementor-element-d1ae4a5 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-19503 .elementor-element.elementor-element-d1ae4a5 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-19503 .elementor-element.elementor-element-d1ae4a5 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-19503 .elementor-element.elementor-element-d1ae4a5 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
    margin: -10px 0px 0px 0px;
    font-weight: 600;
}

.elementor-19503 .elementor-element.elementor-element-d1ae4a5 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-19503 .elementor-element.elementor-element-d1ae4a5 .wdt-heading-holder .wdt-heading-subtitle-wrapper {
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.8em;
    letter-spacing: 0px;
    color: var(--e-global-color-accent);
}

.elementor-19503 .elementor-element.elementor-element-d1ae4a5 .wdt-heading-holder .wdt-heading-content-wrapper {
    margin: -10px 0px 0px 0px;
    color: var(--e-global-color-text);
}

.elementor-19503 .elementor-element.elementor-element-d1ae4a5>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-19503 .elementor-element.elementor-element-d1ae4a5 {
    width: var(--container-widget-width, 76%);
    max-width: 76%;
    --container-widget-width: 76%;
    --container-widget-flex-grow: 0;
}

.elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px/2);
}

.elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px/2);
}

.elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(20px/2);
    margin-left: calc(20px/2);
}

.elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px/2);
    margin-left: calc(-20px/2);
}

body.rtl .elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-20px/2);
}

body:not(.rtl) .elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-20px/2);
}

.elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-icon i {
    color: var(--e-global-color-accent);
}

.elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-19503 .elementor-element.elementor-element-b7b8aba {
    --e-icon-list-icon-size: 20px;
}

.elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-text {
    color: var(--e-global-color-secondary);
    padding-left: 20px;
}

.elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-19503 .elementor-element.elementor-element-b7b8aba .elementor-icon-list-item>a {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.8em;
    letter-spacing: 0px;
}

.elementor-19503 .elementor-element.elementor-element-b7b8aba>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
}

.elementor-19503 .elementor-element.elementor-element-f94fab4 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 26px;
    --grid-row-gap: 0px;
}

.elementor-19503 .elementor-element.elementor-element-f94fab4 .elementor-widget-container {
    text-align: left;
}

.elementor-19503 .elementor-element.elementor-element-f94fab4 .elementor-social-icon {
    background-color: #FFFFFF;
    --icon-padding: 0em;
}

.elementor-19503 .elementor-element.elementor-element-f94fab4 .elementor-social-icon i {
    color: var(--e-global-color-accent);
}

.elementor-19503 .elementor-element.elementor-element-f94fab4 .elementor-social-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-19503 .elementor-element.elementor-element-f94fab4 .elementor-social-icon:hover i {
    color: var(--e-global-color-270b4de);
}

.elementor-19503 .elementor-element.elementor-element-f94fab4 .elementor-social-icon:hover svg {
    fill: var(--e-global-color-270b4de);
}

.elementor-19503 .elementor-element.elementor-element-7acc7e8 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-19503 .elementor-element.elementor-element-9dea4ed {
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 0px 20px 0px 20px;
}

.elementor-19503 .elementor-element.elementor-element-2c3d849>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

@media(max-width:1540px) {
    .elementor-19503 .elementor-element.elementor-element-147538c>.elementor-container {
        max-width: 1300px;
    }

    .elementor-19503 .elementor-element.elementor-element-e088cf1 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-19503 .elementor-element.elementor-element-d1ae4a5 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-19503 .elementor-element.elementor-element-b7b8aba>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }

    .elementor-19503 .elementor-element.elementor-element-9dea4ed>.elementor-container {
        max-width: 1300px;
    }
}

@media(max-width:1280px) {
    .elementor-19503 .elementor-element.elementor-element-147538c {
        margin-top: 20px;
        margin-bottom: 120px;
    }

    .elementor-19503 .elementor-element.elementor-element-857e255>.elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }

    .elementor-19503 .elementor-element.elementor-element-7acc7e8 {
        margin-top: 0px;
        margin-bottom: 120px;
    }

    .elementor-19503 .elementor-element.elementor-element-9dea4ed {
        margin-top: 20px;
        margin-bottom: 120px;
    }
}

@media(max-width:1024px) {
    .elementor-19503 .elementor-element.elementor-element-e088cf1 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
        font-size: 44px;
    }

    .elementor-19503 .elementor-element.elementor-element-d1ae4a5 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
        font-size: 44px;
    }
}

@media(max-width:768px) {
    .elementor-19503 .elementor-element.elementor-element-147538c {
        margin-top: 0px;
        margin-bottom: 75px;
    }

    .elementor-19503 .elementor-element.elementor-element-7acc7e8 {
        margin-top: 0px;
        margin-bottom: 75px;
    }

    .elementor-19503 .elementor-element.elementor-element-9dea4ed {
        margin-top: 0px;
        margin-bottom: 75px;
    }
}

@media(max-width:480px) {
    .elementor-19503 .elementor-element.elementor-element-857e255>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
}

@media(min-width:481px) {
    .elementor-19503 .elementor-element.elementor-element-857e255 {
        width: 50%;
    }

    .elementor-19503 .elementor-element.elementor-element-c996298 {
        width: 5.664%;
    }

    .elementor-19503 .elementor-element.elementor-element-ab64f53 {
        width: 44%;
    }
}

@media(max-width:1024px) and (min-width:481px) {
    .elementor-19503 .elementor-element.elementor-element-857e255 {
        width: 100%;
    }

    .elementor-19503 .elementor-element.elementor-element-c996298 {
        width: 100%;
    }

    .elementor-19503 .elementor-element.elementor-element-ab64f53 {
        width: 100%;
    }
}